/* Header */
.home .site-header{
  position: relative;
  .bg-image{
    z-index: -1;
    min-width: 100%;
    height: auto;
  }
}

body:not(.home) .site-content{
  padding-top: 70px;
  @include bp(tablet) {
    padding-top: 90px;
  }
}

.main-navigation{
  z-index: 1000;
  position: fixed;
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: stretch;
  transition: border .3s ease-in-out;
  @include bp(tablet) {
    height: 90px;
  }
  a{
    text-decoration: none;
    color: $color_pink;
    font-weight: bold;
  }
  ul a{
    padding: 2px 7px;
    font-size: 0.75rem;
    @include bp(tablet) {
      font-size: 1.2rem;
    }
  }
}

.fixed-nav {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  background: white;
  opacity: 0.95;
  border-top: 2.5px solid $color_medium-grey;
  border-bottom: 2.5px solid $color_medium-grey;
  box-shadow: 3px 1px 5px;
  a{
    text-decoration: none;
    color: black;
  }
  @include bp(tablet) {
    top: auto;
  }
}

.site-branding{
  margin-left: 5%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 50%;
}

.display-branding{
  visibility: hidden;
}

.home-site-branding{
  display: none;
}

.home .home-site-branding{
  display: flex;
  position: absolute;
  height: 70px;
  left: 0;
  bottom: 0;
  a{
    text-decoration: none;
    color: black;
    transition: color .5s ease-in-out;
      &:hover{
        color: $color_red;
      }
  }
  @include bp(tablet) {
    height: 90px;
  }
}

.menu-menu-1-container{
  width: 40%;
  margin-right: 5%;
  display: flex;
  align-items: stretch;
}

.main-navigation ul{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu li{
  margin-left: 7vw;
  @include bp(desktop){
    margin-left: 10vw;
  }
}

.current-menu-item, .current-page-ancestor{
  &:first-child{
    border-bottom: 3px solid $color_pink;
  }
  &:nth-child(2){
    border-bottom: 3px solid $color_pink;
  }
}

.fixed-nav {
  .current-menu-item, .current-page-ancestor{
    &:first-child{
      border-bottom: 3px solid $color_red;
    }
    &:nth-child(2){
      border-bottom: 3px solid $color_red;
    }
  }
}
